%h2= "#{@user.name}'s Debts"
%table
  %tr
    %th Amount
    %th Owed To
    %th For
    %th Date
    %th Notes

  - @debts.each do |debt|
    %tr
      %td= '%.02f' % debt.amount
      %td= link_to debt.expense.user.name, user_path(debt.expense.user)
      %td= link_to debt.expense.name, expense_path(debt.expense)
      %td= debt.expense.date
      %td= debt.expense.notes
      -# %td= link_to 'Show', debt_path(debt)
      -# %td= link_to 'Edit', edit_debt_path(debt)
      -# %td= link_to 'Destroy', debt_path(debt),
      -#       method: :delete,
      -#       data: { confirm: 'Are you sure?'}
