.summary
  %h2 Summary:
  - @user.balance.each do |balance|
    - if balance[:balance].negative?
      %p
        = @user == current_user ? 'You owe' : "#{@user.name} owes"
        = link_to User.find(balance[:user_id]).name, user_path(User.find(balance[:user_id]))
        %span(class='red')
          ="$#{'%.02f' % balance[:balance].abs}"

    - else
      %p
        = link_to User.find(balance[:user_id]).name, user_path(User.find(balance[:user_id]))
        = @user == current_user ? "owes you " : "owes #{@user.name} "
        %span(class='green')
          ="$#{'%.02f' % balance[:balance].abs}"
.tables
  .expenses
    %h3
      = @user == current_user ? "Your Expenses" : "#{@user.name}'s Expenses"
    %table
      %tr
        %th Date
        %th Name
        %th Purchased By
        %th Total Cost
        %th Share
        %th Notes

      - @user.expenses.each do |expense|
        %tr
          %td= expense.date
          %td= link_to expense.name, expense_path(expense)
          %td= link_to expense.user.name, user_path(expense.user)
          %td= "$#{'%.02f' % expense.amount}"
          %td= "$#{'%.02f' % expense.share}"
          %td= expense.notes
          -# %td= link_to 'Show', expense_path(expense)
          -# %td= link_to 'Edit', edit_expense_path(expense)
          -# %td= link_to 'Destroy', expense_path(expense),
          -#       method: :delete,
          -#       data: { confirm: 'Are you sure?'}

  .debts
    %h3 Line-Item Debts
    %table
      %tr
        %th Amount
        %th Owed To
        %th For
        -# %th Date
        %th Notes
        %th Reconciled

      - @debts.each do |debt|
        %tr
          %td= "$#{'%.02f' % debt.amount}"
          %td= link_to debt.expense.user.name, user_path(debt.expense.user)
          %td= link_to debt.expense.name, expense_path(debt.expense)
          -# %td= debt.expense.date
          %td= debt.expense.notes
          %td= debt.reconciled
  .ious
    %h3= "Line-Item IOUs"
    %table
      %tr
        %th Amount
        %th Owed By
        %th For
        -# %th Date
        %th Notes
        %th Reconciled

      - @ious.each do |iou|
        %tr
          %td= "$#{'%.02f' % iou.amount}"
          %td= link_to iou.debtor.name, user_path(iou.debtor)
          %td= link_to iou.expense.name, expense_path(iou.expense)
          -# %td= iou.expense.date
          %td= iou.expense.notes
          %td= iou.reconciled
