= form_for @expense do |f|
  = f.label :date
  = f.date_field :date
  %br

  = f.label :name
  = f.text_field :name
  %br

  = f.label :amount
  = f.number_field :amount
  = f.label :share
  = f.number_field :share
  %br

  = f.label :notes
  = f.text_field :notes
  %br

  = f.label "Who Owes You?"
  %br
  = f.collection_check_boxes :debtor_ids, User.all.reject{|user| user == current_user}, :id, :name, include_hidden: false do |b|
    .collection-check-box
      = b.check_box
      = b.label

  = f.submit
