= form_for [:group, @expense] do |f|
  = f.hidden_field :user, value: current_user

  = f.label :date
  = f.date_field :date
  %br

  = f.label :name
  = f.text_field :name
  %br

  = f.label :amount
  = f.number_field :amount, value: number_to_currency(f.object.amount.to_f, delimiter: '', unit: ''), step: :any
  = f.label :share
  = f.number_field :share
  %br

  = f.label :notes
  = f.text_field :notes
  %br

  = f.label "Who Owes You? (defaults to all users in group)"
  %br
  = f.collection_check_boxes :debtor_ids, @group.users.reject{|user| user == current_user}, :id, :name, include_hidden: false do |b|
    .collection-check-box
      = b.check_box
      = b.label

  = f.submit
