
<%= form_for [:group, @expense] do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <%= f.label :date, class: "form-label", for: "form1Example1" %>
      <%= f.date_field :date, id: "form1Example1", class: "form-control" %></br>
  
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <%= f.label :name, class: "form-label", for: "form1Example2" %>
      <%= f.text_field :name, id: "form1Example2", class: "form-control" %></br>
    </div>
   
    <div class="form-outline mb-4">
      <%= f.label :amount, class: "form-label", for: "form1Example2" %>
      <%= f.text_field :amount, id: "value", class: "form-control" %></br>
    </div>
    
    <div class="form-group">
        <label>Select Currency</label>
        <%= f.select :currency, Expense::CURRENCY_LIST, {include_blank: 'Select'}, class: "form-control dropdown" %>
    </div>

    <div class="form-outline mb-4">
      <%= f.label :share, class: "form-label", for: "form1Example2" %>
      <%= f.number_field :share, id: "form1Example2", class: "form-control" %></br>
    </div>

    <div class="form-outline mb-4">
      <%= f.label :notes, class: "form-label", for: "form1Example2" %>
      <%= f.text_field :notes, id: "form1Example2", class: "form-control" %></br>
    </div>
    
    <div class="form-outline mb-4">
      <%= f.label :Category, class: "form-label", for: "form1Example2" %>
      <%= f.collection_select :category_id, Category.all,:id,:item, {include_blank: 'Select'}, class: "form-control" %> <br />
    </div>
  <%= f.submit %>
  <% end %>
  <style>
  .dropdown{
    margin-bottom: 38px;
  }
  </style>

   
      
  
  